/* Partial: Buttons */
@each $color in $color-buttons {
    .btn-#{nth($color-buttons, index($color-buttons, $color))} {
      background-color: $color;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }