 /* Partial: Mixins */
 @mixin floating($border-radius: 10px, $box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), $border: 2px solid transparent) {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: $border;
  }
  
  @mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 20px;
  }
  
  